<h1 align="center">Listing all article</h1>

<div class="row justify-content-center">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>
<br>
<div align="row justify-content-center">
    <%= will_paginate %>
</div>
