<h1>showing selected article</h2>

<p>title: <%= @article.title %></p>
<p>description: <%= @article.description %></p>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "Back to article listing", articles_path %>