/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('1657b3cea5bb265.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #ffffff;
    color: #777;
}

.footer ul {
    float: right;
    list-style: none;
}

.footer ul li {
    float: left;
    margin-left: 15px;
}

.index {
    padding-top: 10px;
}

.article-meta-details {
    border-top: 1px solid #aeaeae;
    margin-top: 15px;
}