<div class="container">
    <footer class="footer">
    	<small>
    		Copyright &copy; <a href="#">Hariska Efendi</a>
    	</small>
    	<nav>
    		<ul>
    			<li>
    				<%= link_to "About", 'pages/about' %>
    			</li>
    		</ul>
    	</nav>
    </footer>
</div>