<div class="row">
	<div class="col-sm-8 mx-auto">
		<% flash.each do |name, msg| %>
			<div class='alert alert-<%="#{name}" %>' role="alert">
				<a href="#" class="close" data-dismiss="alert">&#215;</a>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			</div>
		<% end %>
	</div>
</div>
